/* sider */
.sider {
  min-height: 100vh;
}

/* 菜单浮动定位 */
.stickPosition {
  position: sticky;
  top: 0;
  min-height: calc(100vh - 64px);
  overflow-y: auto;
  -ms-scroll-snap-type: none;
  scroll-snap-type: none;
}

/* 分割线 */
.needLines::before {
  content: '';
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 10%;
  background-color: #fff;
}